<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Razorpay Integration</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <script>
        var options = {
            "key": "{{ order.key }}",
            "amount": "{{ order.amount }}",
            "currency": "{{ order.currency }}",
            "order_id": "{{ order.id }}",
            "name": "EventHive",
            "description": "Payment for Order #{{ order.id }}",
            "image": "https://cscita.sfit.ac.in/images/engg.png",
            "handler": function (response){
                fetch(`/verify_payment?payment_id=${response.razorpay_payment_id}&order_id={{ order.id }}&payment_sign=${response.razorpay_signature}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }).then(function(response) {
                    if(response.ok) {
                        fetch('/addeventdb', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                email: '{{ email }}',
                                event_name: '{{ event_name }}',
                                committee: '{{ committee }}'
                            })
                        }).then(function(response) {
                            if(response.ok) {
                                window.location.href = "http://localhost:3000/dashboard";
                            } else {
                                throw new Error('Adding event to database failed');
                            }
                        }).catch(function(error) {
                            console.log('There has been a problem with your fetch operation: ' + error.message);
                        });
                    } else {
                        throw new Error('Payment verification failed');
                    }
                }).catch(function(error) {
                    console.log('There has been a problem with your fetch operation: ' + error.message);
                });
            },
            "modal": {
                "backdrop_close": true,
                "confirm_close": true,
            },
        };

        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
            alert("Payment Failed! Error: " + response.error.description);
        });
        rzp1.open();
    </script>
</body>
</html>
